:root {
    --primary-blue: #4986D1;
    --seconday-blue: #37669E;
    --dark-blue: #1D3451;
    --default-text: #444;
    
}


/* font-family: 'Lemonada', cursive; */
* {
    box-sizing: border-box;
    
}

body {
    background-color: whitesmoke;
    font-family: sans-serif;
    line-height: 1.6;
    color: var(--default-text);
    padding: 0;
    margin: 0;
    
}

h1,
h2,
h3,
h4 {
    font-family: 'Lemonada', cursive;
    margin: 0 0 20px;
    color: var(--dark-blue);

}

h4 {
    font-size: 30px;
    margin-bottom: 15px;

}
/* --------------------- */
/* LAYOUT */
/* --------------------- */
.container {
    max-width: 1000px;
    padding: 1% 2%;
    margin: 0 auto;
    
}

.card {
    background-color: white;
    width: 90%;
    margin: 0 auto 60 px;
    border: 2px solid var(--default-text);
    padding: 5% 8%;

}